/* Header fijo en la parte superior */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

/* Espaciado extra debajo del header para evitar que lo cubra */
.navbar-section {
  padding-top: 100px; /* Ajustamos este padding según la altura del header */
}

/* Estilo del menú lateral */
.sidebar {
  background-color: #d50000e0;
  color: white;
  height: 100vh;
  position: fixed;
  top: 90px;
  left: 0;
  width: 250px;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

.sidebar h5 {
  color: #f8f9fa;
  margin-bottom: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 12px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
  background-color: #9c1f1f;
}

/* Offcanvas (menú en móviles) */
.offcanvas {
  background-color: #d50000e0;
  color: white;
  --bs-offcanvas-width: 270px;
}

.offcanvas a {
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.offcanvas a:hover {
  background-color: #9c1f1f;
}

/* Botón de menú para móviles */
.d-lg-none .btn-primary {
  display: block;
  /* margin-left: auto; */
  margin-right: auto;
}

/* Ocultar el nombre del alumno en pantallas pequeñas */
@media (max-width: 992px) {
  .dropdown-toggle .d-none.d-lg-inline {
    display: none !important;
  }
}

.btn-primary {
  background-color: #d50000;
  border-color: #d50000;
}

.btn-primary:hover {
  background-color: #a40000;
  border-color: #a40000;
}
